body{
  background-image: url(../img/bg.jpg);
  width: 90%;
}
#footer{
  background-color: black;
  margin-bottom: 0px;
  width: 100%;
}
.smalls{
  text-align: center;
}
.types a:link {
    color: #20608e;
    background-color: transparent;
    text-decoration: none;
    display: block;
}

.types a:visited {
    color: #20608e;
    background-color: transparent;
    text-decoration: none;
}

.types a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
}
.but1{
  color: white;
  background-color: #229A05;
  border-radius: 5px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-color: #229A05;
  width: 250px;
  height: 50px;
  font-size: 1rem;
  font-weight: 100;
}
.but1:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.types {
  font-size: 1.5rem;
  font-weight: 400;
}
.box{
  border: 3px solid grey;
  border-style: solid;
  border-radius: 25px;
  margin-top: 30px;
  margin-left: 200px;
  margin-right: 200px;
  padding-bottom: 5px;
  background-color: white;
}
#home{
  margin-left: 10%;
  color: black;
  font-size: 15px;
}
#headings{
  margin-left: 30%;
  color: #20608e;
  font-size: 20px;
}
#navbarNav li{
  display: inline;
  color: white;

}
#navbarNav a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
    display: inline;
}
#navbarNav a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
    display: inline;
}
#navbarNav a:hover {
    color: #229A05;
    background-color: transparent;
    text-decoration: none;
}
header{
  background-color: black;
  height: 100px;
  width: 100%;
  padding-top: 20px;
  font-size: 1.5rem;
  padding-left: 60%;

}
